<div class="container">
  <div class="board_title">
    <p>All Boards</p>
  </div>
  <% @articles.each do |article| %>
    <div class="card">
      <div class="card_content">
        <div class="card_title">
          <%= article.title %>
        </div>
        <div class="dropdown">
        <%= image_tag 'action.s', class: 'header_avatar dropbtn' %>
        <div class="dropdown-content">
          <a href="#">プロフィール</a>
          <a href="#">ログアウト</a>
        </div>
      </div>
        <div class="card_detail">
          <%= article.content %>
        </div>
        <div class="card_avatar">
          <%= image_tag 'content-avatar.png' %>
          <div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>