$heart-size: 16px;
$avatar-size: 32px;

.card {
  background-color: #F4F4F4;
  padding: $padding-y;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

  &_title {
    font-size: $font-lg;
    margin-bottom: 6px;
  }

  &_detail {
    cursor: pointer;
    display: flex;
    font-size: $font-sm;
    color: rgba(0, 0, 0, 0.4);

    img {
      width: $avatar-size;
      height: $avatar-size;
      border-radius: 100%;
      margin-right: 8px;
    }
  }

  

  &_image {
    height: 180px;
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }
}